html{
    width: 100vw;
    height: 100%;
    background-color: rgb(250, 250, 250);
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(241, 239, 237);
}

*{
    font-family: Helvetica;
}

@media (max-width: 800px) {
    #ubicanos-text{
        visibility: hidden;
        width: 0px;
    }
}

@media (min-width: 800px) {
    #ubicanos-text{
        visibility: visible;
        padding-left: 20px ;
        width: auto;
    }
}

.marquee-modal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.marquee-image{
    width: 50%;
    height: 60vw;
    max-height: 500px;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
}

.marquee-text{
    width: 50%;
    height: 60vw;
    max-height: 500px;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h4{
    width: auto;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: Helvetica;
    margin: 0px;
    padding: 8px;
    text-align: left;
}


h5{
    width: auto;
    color: black;
    font-size: 16px;
    font-weight: 100;
    font-family: Helvetica;
    margin: 0px;
    padding: 8px;
    text-align: left;
}

h6{
    width: auto;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica;
    margin: 0px;
    padding: 8px;
    text-align: left;
}
h7{
    width: auto;
    font-size: 10px;
    font-weight: 100;
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
    text-align: left;
}
#quote{
    color: rgb(17, 17, 17);    
    background-color: rgb(250, 163, 0);
    width: 100%;
}

#contact-us{
    background-color: #132702;
    color: rgb(162, 203, 128);
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    border-radius: 8px;
    border: 0px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-banner{
    width: 12vw;
    height: 40px;
    background-color: #c11700;
    color: #FCDEBD;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    border-radius: 8px;
    border: 0px;
    padding: 0px;
    padding-bottom: 0px;
}

.cta{
    background-color: #c11700;
    width: 40%;
    max-width: 300px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 800;
    margin: 10px;
    border-radius: 8px;
    border: 0px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h7{
    font-size: 12px;
}

ul{
    width: 100%;
    padding: 10px;
    margin: 0;
}
li{
    padding: 0;
    margin: 0;
    margin-top: 5px;
    list-style: none;
    text-align: left;
}
.product-name{
    width: 75%;
    font-size: 14px;
    font-weight: bold;
}

.product-price{
    width: 25%;
    text-align: left;
    font-size: 14px;
    font-weight: lighter;
}
button:hover{
    transition: 0.2s;
    transform: scale(1.08);
}

.imag{
    transition: 0.2s ease-in-out;
    border-radius: 0px;
   
}
.imag:hover{
    filter: brightness(1.1);    
    transform: scale(1);
    border-radius: 20px;
}